.footer-links article[data-mostrar] {
    display: flex;
    animation: aparecer 1s forwards;
}

.footer-links a[data-mostrar]::after {
    border-bottom: none;
    border-top: solid 8px #fff;
    transform: translate3d(10px, 9px, 0);
}

.footer-links a[data-mostrar]:hover::after {
    border-top: solid 8px #ff8400;
}

@keyframes aparecer {
    0% {
        max-height: 0;
        opacity: 0;
    } 100% {
        max-height: 100%;
        opacity: 1;
    }
}